MONGO_URI=STRIPE_SECRET_KEY=your_stripe_secret_key_here
PAYSTACK_SECRET_KEY=STRIPE_SECRET_KEY=your_stripe_secret_key_here
MNOTIFY_API_KEY=STRIPE_SECRET_KEY=your_stripe_secret_key_here
MNOTIFY_SENDER_ID=STRIPE_SECRET_KEY=your_stripe_secret_key_here
PORT=3000
