MONGO_URI=mongodb+srv://netgh:netgh12345@cluster0.ga9tape.mongodb.net/?appName=Cluster0
PAYSTACK_SECRET_KEY=sk_test_4d4825c353264c07f656aa7b05b4edece9dd7aa9
MNOTIFY_API_KEY=gDx8RogEs39WtP75vLeMbUDIe
MNOTIFY_SENDER_ID=NETGH
PORT=3000
